{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head class="no-js">
{% block head %}
    <meta charset="utf-8" />
    {% set pageTitle = '' %}
    {% if header.seo_title is defined %}
        {% set pageTitle = header.seo_title %}
    {% else %}
        {% if header.title %}
            {% set pageTitle = header.title|e('html') %}
        {% endif %}
    {% endif %}
    <title>{{ pageTitle }} | {{ site.title|e('html') }}</title>

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url()|regex_replace('/^https?:/', '') }}" />
    

    {% include 'partials/metadata.html.twig' %}



    <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,700,100italic,300italic,400" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    {% do assets.addCss('theme://css-compiled/main.css', 100) %}
    {{ assets.css() }}

        {% do assets.addJs('theme://js/modernizr.custom.71422.js', 100) %}
    {% block javascripts %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }} {% if not page.home %} back-page {% endif %}">
    
    {% block header %} {% endblock %}

    {% block pageContent %} {% endblock %}

    {% block footer %} {% endblock %}

    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    {% block bottom %}
        <script src="{{ url('theme://js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
