{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
{% endblock %}


{% block bottom %}
    {{ parent() }}
{% endblock %}


{% block header %}

    {% include "partials/header.html.twig" %}

{% endblock %}

{% block pageContent %}
    {{ page.content }}
{{ dump(page.collection, 'hey') }}
                <div class="container">
    <div class="row">
    {% for module in page.collection() %}
        <div class="col-xs-12 col-sm-6">
            <section id="{{ module.slug }}" class="{{ module.header.body_classes}}">

                    <!-- START module.conent -->
                    
                    {{ module.content }}

                    <!-- END module.content -->
            </section>
        </div>
    {% endfor %}
</div>
                </div>
{% endblock %}


{% block footer %}
    {% include "partials/footer.html.twig" %}
{% endblock %}
