{% extends 'base/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
{% endblock %}


{% block bottom %}
    {{ parent() }}
{% endblock %}


{% block header %}

    {% include "partials/header.html.twig" %}

{% endblock %}

{% block pageContent %}
    <div class="connections-page sidebar-layout">
        {{ page.content }}
        {% set form = page.find('/connect/_contact') %}
        {% set connections_list = page.find('/connect/_connections') %}
        <div class="flex-gutter-row">
            <div class="gutter-col white-bg"></div>
            <div class="white-bg left-column">
                <section id="{{ form.slug }}" class="{{ form.header.body_classes}}">

                    {{ form.content }}
                </section>
            </div>
            <div class="xcol-xs-12 xcol-sm-4 right-column">
                <section id="{{ connections_list.slug }}" class="{{ connections_list.header.body_classes}}">

                    {{ connections_list.content }}
                </section>
            </div>

            <div class="gutter-col"></div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include "partials/footer.html.twig" %}
{% endblock %}
