{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
{% endblock %}


{% block bottom %}
    {{ parent() }}
{% endblock %}


{% block header %}

    {% include "partials/header.html.twig" %}

{% endblock %}

{% block pageContent %}
    <div class="connections-page">
        {{ page.content }}
        {% set form = page.find('/connect/_contact') %}
            {% set connections_list = page.find('/connect/_connections') %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <section id="{{ form.slug }}" class="{{ form.header.body_classes}}">

                                {{ form.content }}
                            </section>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <section id="{{ connections_list.slug }}" class="{{ connections_list.header.body_classes}}">

                                {{ connections_list.content }}
                            </section>
                        </div>
                    </div>
            </div>
{% endblock %}


{% block footer %}
    {% include "partials/footer.html.twig" %}
{% endblock %}
