{% extends 'base/base.html.twig' %}

{% block header %}{% endblock %}
{% block main %}
    <div class="front-page-container">
        <div class="block-left front-page-block">
            <div class="block-inner">

                <div class="top-image-container">
                    <div class="top-image">
                                    <img src='{{ url('theme://images/portland-web-developer.jpg') }}' class="img-fluid rounded-circle" alt="Expert in HTML, CSS, Javascript" />
                                </div>

                </div>
                <div class="front-page-blurb white-text ">
                    <h1>
                        <span>Jeff Wilkerson.</span>
                        <small class="red">Front End Developer</small>
                        <small>Since Netscape 4.7 and IE 3!!!</small>
                    </h1>
                    <p>I live in Portland, Oregon where I am cultivating magical powers to destroy obstacles and create oppotunity.<p>
<ul class="social-icons-list list-unstyled row justify-content-center">
            <li class="col-3 col-sm-auto">
            <a href="https://www.linkedin.com/in/jeffrwilkerson" target="_blank" title="Jeff Wilkerson on LinkedIn">
                <img src="{{ url('theme://images/linkedin-icon.png') }}">
            </a>
        </li>
            <li class="col-3 col-sm-auto">
            <a href="https://github.com/stljeff1/" target="_blank" title="Jeff Wilkerson on Github">
                <img src="{{ url('theme://images/github-icon.png') }}">
            </a>
        </li>
            <li class="col-3 col-sm-auto">
            <a href="https://twitter.com/cPalsyYogi" target="_blank" title="Jeff Wilkerson on Twitter">
                <img src="{{ url('theme://images/twitter-icon.png') }}">
            </a>
        </li>
            <li class="col-3 col-sm-auto">
            <a href="https://www.instagram.com/runningantelope/" target="_blank" title="Jeff Wilkerson on Instagram">
                <img src="{{ url('theme://images/instagram-icon.png') }}">
            </a>
        </li>
    </ul>
                </div>

            </div>
        </div>
        <div class="block-right front-page-block">

            <div class="front-page-nav-container navbar navbar-expand-lg">

                <a href='#top' class="   nav-toggler" data-toggle="collapse" data-target="#front-page-nav"  aria-expanded="false">
                    <img src="{{ url('theme://images/jw-red-icon-small.png') }}" alt="Portland Web Developer Jeff Wilkerson">
                </a>
                <nav id="front-page-nav" class="collapse navbar-collapse">

                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="{{ base_url}}/qualifications" class="nav-link">My Skills</a></li>
                            <li class="nav-item"><a href="{{ base_url}}/projects" class="nav-link">Portfolio</a></li>
                            <li class="nav-item"><a href="{{ base_url}}/services" class="nav-link">Services</a></li>
                            <li class="nav-item"><a href="{{ base_url}}/about" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="{{ base_url}}/connect" class="nav-link">Contact</a></li>
                        </ul>
                </nav>
            </div>
            <div class="block-content">
                <section>
                    <h2>About</h2>
                    <p class="text-main">Hi! Do you need a functional website? Because I'm a guy who makes functional websites. </p>

                    <p>I possess diverse professional experience, including:</p>
                    <ul class="text-main">
                        <li>Enterprise Software</li>
                        <li>Agency Work</li>
                        <li>Branding</li>
                        <li>UI/UX/IA</li>
                    </ul>
                    <p class="text-main">I work well with designers, content specialists, and backend developers. I am interested in tackling challenges in content management and web applications.   </p>
                    <p><a href="{{ base_url }}/about" class="btn btn-default">More About Me</a></p>
                    <div class="hidden-md hidden-lg">
                        <img src="{{ url('theme://images/wilkerson-suzygram.jpg') }}" alt="I have a dog. We live in Portland." class="img-fluid" />
                    </div>
                </section>
                <section>
                    <h2>Things I <span>do</span> well</h2>
                    <p>I got my first webdev gig as a freshman in college. Here is a short list of skills learned since then.</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <h3>Fundamentals</h3>
                            <ul class="list-inline">
                                <li class='list-inline-item'>Semantic HTML,</li> <li class='list-inline-item'>CSS,</li> <li class='list-inline-item'>jQuery,</li> <li class='list-inline-item'>OOP Principles,</li> <li class='list-inline-item'>Mobile-first designing.</li> 
                            </ul>

                            <h3>Modern Technologies</h3>
                            <ul class="list-inline">
                                <li class='list-inline-item'>Git,</li> <li class='list-inline-item'> SASS,</li> <li class='list-inline-item'> LESS,</li> <li class='list-inline-item'> AJAX,</li> <li class='list-inline-item'> RESTful Services,</li> <li class='list-inline-item'> Task Managers,</li> <li class='list-inline-item'> Twig,</li> <li class='list-inline-item'> Jade,</li> <li class='list-inline-item'> Handlebars...</li>
                            </ul>

                            <h3>Wordpress</h3>
                            <ul class="list-inline">
                                <li class="list-inline-item">Custom Post Types, </li>
                                <li class="list-inline-item"><a href="https://developer.wordpress.org/block-editor/" target="_blank">Custom Gutenberg Block Development</a> with ES6, </li>
                                <li class="list-inline-item">ACF, </li>
                                <li class="list-inline-item">WooCommerce, </li>
                            </ul>

                            {#
                            <h3>Javascript Frameworks</h3>
                            <ul class="list-inline">
                                <li class='list-inline-item'>Kendo UI,</li> <li class='list-inline-item'>AngularJS,</li> <li class='list-inline-item'>KnockoutJS.</li>
                            </ul>


                            <h3>Content Management</h3>
                            <ul class="list-inline">
                                <li class='list-inline-item'>Wordpress,</li> <li class='list-inline-item'> GravCMS,</li> <li class='list-inline-item'> CraftCMS,</li> <li class='list-inline-item'> Apostrophe,</li> <li class='list-inline-item'> Propietary.</li>
                            </ul>
                            #}

                            <p class="quick-links"><a href='{{ page.find('/qualifications').url }}#_skills' class="btn btn-default">See More Details</a></p>
                        </div>
                        <div class="hidden-xs col-sm-3 col-md-4">
                            <img src="{{ url('theme://images/jeff-website-portland-guy.jpg') }}" alt="Portland Web Developer Jeff Wilkerson" class="img-fluid" alt="Originally born in St. Louis, 8 states later, I'm making my home in Portland, OR">        
                        </div>
                    </div>
                </section>

                <section class="recent-projects">
                    <h2>Recent Projects</h2>

                    {% set projects = page.find('/projects/project-details').children|slice(0, 4) %}
                    {{ siteMacros.projectListGrid(projects, 2) }}
                </section>

                <section class="quick-tab-btns">
                    <h2>Check It Out</h2>
                    <div class="">
                        <ul class="list-unstyled row">
                            <li class="col-auto col-sm-4"><a href="{{ base_url}}/qualifications" class="btn btn-default">My Skills</a></li>
                            <li class="col-auto col-sm-4"><a href="{{ base_url}}/projects" class="btn btn-default">Portfolio</a></li>
                            <li class="col-auto col-sm-4"><a href="{{ base_url}}/services" class="btn btn-default">Services</a></li>
                            <li class="col-auto col-sm-4"><a href="http://blog.jeffwilkerson.net" class="btn btn-default">My Blog</a></li>
                            <li class="col-auto col-sm-4"><a href="{{ site.social['github'].url }}" class="btn btn-default" target="_blank">Me on Github </a></li>
                            <li class="col-auto col-sm-4"><a href="{{ base_url }}/about" class="btn btn-default">More About Me</a></li>
                        </ul>
                    </div>
                </section>


                <section class="client-list">
                    <h2>Past Clients Include</h2>

                    <div class="d-none d-sm-block">
                        <ul class="list-unstyled row">
                            <li class="col text-center">
                                <h4 class="title-three title-main mywhite">Papa Murphy's Franchising</h4>
                                <img class="img-fluid" src="{{ url('theme://images/papa-murphys-logo.png')}}" alt="Papa Murphy's Franchising" />
                            </li>

                            <li class="col text-center">
                                <h4 class="title-three title-main mywhite">Singing Success</h4>
                                <img class="img-fluid" src="{{ url('theme://images/ss360-logo.png')}}" alt="Singing Success" />
                            </li>
                            <li class="col text-center">
                                <h4 class="title-three title-main mywhite">Bob's Red Mill</h4>
                                <img class="img-fluid" src="{{ url('theme://images/logo-bobs-red-mill.png')}}" alt="Bob's Red Mill" />
                            </li>
                            <li class="col text-center">
                                <h4 class="title-three title-main mywhite">NASA</h4>
                                <img class="img-fluid" src="{{ url('theme://images/nasa-logo.png')}}" alt="NASA" />
                            </li>

                        </ul>
                    </div>

                    <div id='client-slideshow' class='d-block d-sm-none carousel slide text-center' data-ride='carousel' data-interval="2500"> 
                        <ol class="carousel-indicators">
                            <li data-target="#client-slideshow" data-slide-to="0" class="active"></li>
                            <li data-target="#client-slideshow" data-slide-to="1"></li>
                            <li data-target="#client-slideshow" data-slide-to="2"></li>
                            <li data-target="#client-slideshow" data-slide-to="3"></li>
                            <li data-target="#client-slideshow" data-slide-to="4"></li>
                            <li data-target="#client-slideshow" data-slide-to="5"></li>
                        </ol>
                        <div class='carousel-inner' role='listbox'>
                            <div class='carousel-item active'>
                                <h4 class="title-three title-main mywhite">Papa Murphy's Franchising</h4>
                                <img class="img-fluid" src="{{ url('theme://images/papa-murphys-logo.png')}}" alt="Papa Murphy's Franchising" />
                            </div>
                            <div class='carousel-item'>

                                <h4 class="title-three title-main mywhite">Singing Success</h4>
                                <img class="img-fluid" src="{{ url('theme://images/ss360-logo.png')}}" alt="Singing Success" />
                            </div>
                            <div class='carousel-item'>
                                <h4 class="title-three title-main mywhite">Bob's Red Mill</h4>
                                <img class="img-fluid" src="{{ url('theme://images/logo-bobs-red-mill.png')}}" alt="Adidas, Inc." />
                            </div>
                            <div class='carousel-item'>
                                <h4 class="title-three title-main mywhite">Penske Auto Group</h4>
                                <img class="img-fluid" src="{{ url('theme://images/penske-auto-logo.png')}}" alt="Penske Auto Group" />
                            </div>
                            <div class='carousel-item'>
                                <h4 class="title-three title-main mywhite">Dimmit Auto Group</h4>
                                <img class="img-fluid" src="{{ url('theme://images/dimmit-logo.jpg')}}" alt="Dimmit Auto Group" />
                            </div>
                        </div>

                      <!-- Controls -->
                      <a class="carousel-control-prev" href="#client-slideshow" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#client-slideshow" role="button" data-slide="next">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                </section>
                                                                        

                <section class="recent-blog-posts">
                    <h2>Blog Posts...</h2>
                    
                    <ul class='list-unstyled'>
                    {% for post in recent_blog_bosts[0:5] %}
                         <li>
                            <h4 class="blog-title">
                                <a href="{{ post.link }}" class="myred text-main">
                                    <i class='glyphicon glyphicon-menu-right'></i>
                                    {{ post.title }}
                                </a>
                            </h4>
                            <p class="blog-info">{{ post.date }} | 
                                    {% if post.tags %}
                                    Tags: 
                                        {% for tag in post.tags %} 
                                            <a href="{{ tag.link }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% if post.categories|length > 1 %}
                                            Categories:
                                        {% else %}
                                            Category: 
                                        {% endif %}
                                           {% for tag in post.categories %} 
                                            <a href="{{ tag.link }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                        </li>
                    {% endfor %}
                    </ul>

                </section>


                <section>
                    <h2>Silly Instagrams...</h2>
                    <ul class="list-unstyled row">
                        <li class="col-xs-6 col-sm-4"><img  class="img-fluid img-round" src="{{ url('theme://images/welcome-to-oregon.jpg') }}"/></li>
                        <li class="col-xs-6 col-sm-4"><img  class="img-fluid img-round" src="{{ url('theme://images/run-suzy.jpg') }}"/></li>
                        <li class="col-xs-6 col-sm-4"><img  class="img-fluid img-round" src="{{ url('theme://images/grandmas-house.jpg') }}"/></li>
                        <li class="col-xs-6 col-sm-4"><img  class="img-fluid img-round" src="{{ url('theme://images/jeff-yoga.jpg') }}"/></li>
                        <li class="col-xs-6 col-sm-4"><img  class="img-fluid img-round" src="{{ url('theme://images/cape-lookout.jpg') }}"/></li>
                        <li class="col-xs-6 col-sm-4"><img  class="img-fluid img-round" src="{{ url('theme://images/cardinals-baseball.jpg') }}"/></li>
                    </ul>
                </section>
                <footer>
                    <div class="row">
                        <div class="col">

                                    <p><a href="{{ page.find('/connect').url }}">Jeff Wilkerson</a><br/>
                                       &copy; 2018</p>
                        </div>

                        <div class="col-6 text-center">
                            <p class="text-center">This side built with <a href="http://www.getgrav.org/" target="_blank">Grav CMS</a>!<br/>
                            See the <a href="{{ site.social.github.url }}jw-grav" target="_blank">source code for this website</a>.
                            </p>
                        </div>
                        <div class="col">
                            <div class="text-right">
                                <p><a href="#top">Back to Top</a></p>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                    </div>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}