{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
{% endblock %}


{% block bottom %}
    {{ parent() }}
{% endblock %}


{% block header %}

    {% include "partials/header.html.twig" %}

{% endblock %}

{% block pageContent %}
    <div style="background-color: #ff0; height: 90px;"><h1>hey hey, modular-custome</h1></div>
    {{ page.content }}
    {% for module in page.collection() %}
        
        <section id="{{ module.slug }}" class="{{ module.header.body_classes}}">
            <div class="container">

                <!-- START module.conent -->
                
                {{ module.content }}

                <!-- END module.content -->
            </div>
        </section>
    {% endfor %}
{% endblock %}


{% block footer %}
    {% include "partials/footer.html.twig" %}
{% endblock %}
