{% extends 'base/two-column.html.twig' %}

{% do assets.addCss('theme://css-compiled/magnific-popup.css', 100) %}
{% do assets.addJs('theme://js/project-samples.js', {priority: 5, group: 'bottom'}) %}
{% block aboveContent %}
{% endblock %}


{% block leftColumn  %}
	
	<div class="project-title">
		<h2 class="section-title">Project Results</h2>
		
	</div>


	<div class="project-screenshots">

		{{ dump(assets.collections.bootstrap) }}
		<div class="project-thumbnail-row row">
			{% for imageuploaded in page.header.screenshots %}
				{% set myimage = page.media[imageuploaded.image] %} 
				<div class="col-auto">
					{{ dump(myimage) }}
					<a href="{{ myimage.url}}" class="project-thumbnail">
						<img src="{{ myimage.cropZoom(300,450).url }}" class="img-fluid" />
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="project-screenshot-viewport">

		</div>
	
	</div>
	
{% endblock %}

{% block rightColumn  %}
	<h4>Summary</h4>
	{{ page.content }}
	<div class="sidebar-list">
		{{ siteMacros.sidebarListGrid('Client', header.details.client) }}
		{{ siteMacros.sidebarListGrid('Project Date', header.details.date) }}
	</div>

{% endblock %}

{% block belowContent %}
	<section id="other-samples" class="blue-bg">

		<div class="container">
			<h3 class="section-title">Other Projects</h3>
			{% set projects = page.find('/projects/project-details').children %}
			{{ siteMacros.projectListGrid(projects, 3) }}
		</div>

	</section>
{% endblock %}
