{% extends 'partials/modular-base.html.twig' %}

{% block header %}

    <header class="site-header">
        {% include "partials/navigation-default.html.twig" %}

    </header>
{% endblock %}
{% block pageContent %}
	<main>
		<section>
			<div class="container">
				<h1>Project Details - {{ page.header.title }}</h1>
				<p>{{ page.content }}</p>
				<div class="project-screenshots">
					{{ dump(page.media) }}
{% for imagesuploaded in page.header.screenshots %}
	{% for image in imagesuploaded.image %}
		{% set myimage = page.media[image.name].cropZoom(200,200) %} 
		<div style="text-align: center;">
		}
	fuck!!!!!!!!!!!!!!!!!
			{{ dump(image) }}
			{{ dump(myimage) }}
		<img src="{{ myimage.url }}"/>
		</div>
	{% endfor %}
{% endfor %}
					{*
					{% for image in page.header.screenshots %}
						<div class="item {% if loop.first %} active {% endif %}">
							{% for key, item in image.image %}
								
								<div class="{{ page.header.ui_id }}-image">
									<img src="{{ url(item.path)}}" alt="{{ image.title }}" class="img-responsive" />
								</div>
							{% endfor %}		
						</div>
					{% endfor %}
					*}

				</div>s
			</div>
		</section>
	</main>
{% endblock %}