{% extends 'base/two-column.html.twig' %}


{% block aboveContent %}
{% endblock %}


{% block leftColumn  %}
	
	<div class="project-title">
		<h2 class="section-title">Project Results</h2>
		
	</div>
	<div class="project-screenshots">

		{{ dump(page.media) }}

		<div class="project-thumbnail-row row">
			{% for imageuploaded in page.header.screenshots %}
				{% set myimage = page.media[imageuploaded.image] %} 
				<div class="col-auto">
					{{ dump(myimage) }}
					<a href="{{ myimage.url}}" class="project-thumbnail">
						<img src="{{ myimage.cropZoom(100,150).url }}" class="img-fluid" />
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="project-screenshot-viewport">

		</div>
	
	</div>
	
{% endblock %}

{% block rightColumn  %}
	<h4>Summary</h4>
	{{ page.content }}
	<div class="sidebar-list">
		{{ siteMacros.sidebarListGrid('Client', header.details.client) }}
		{{ siteMacros.sidebarListGrid('Project Date', header.details.date) }}
	</div>

{% endblock %}

{% block belowContent %}

{% endblock %}

{% block bottom %}
	{{ parent() }}

	<script>
		$(function() {
			console.log('go to bed');
			$('.project-thumbnail').click(function(e) {
				var link = this;
				$('.project-screenshot-viewport').html('<img class="img-fluid" src="'+ link.href + '"/>');
				return false;
			});
		});
	</script>
{% endblock %}