{% extends 'base/base.html.twig' %}

{% do assets.addCss('theme://css-compiled/magnific-popup.css', 100) %}
{% do assets.addJs('theme://js/project-samples.js', {priority: 5, group: 'bottom'}) %}
{% block aboveContent %}
{% endblock %}

{% set details = page.header.details %}

{% block main  %}
	<section class="white-bg">
		<div class="container">
			<div class="project-summary text-center">
				<h2 class="section-title">Summary</h2>

				<p class="h4"><strong>{{ details.proj_tags }}</strong> {{ details.date }}</p>
				{% if details.live_url %}
					<p class="h4"><a href="{{ details.live_url }}" target="_blank">Live URL</a></p>
				{% endif %}
				{{ page.content|markdown }}
			</div>
			<h2 class="section-title">Project Results</h2>
				
			
			<div class="project-screenshots">

				{{ dump(assets.collections.bootstrap) }}
				<div class="project-thumbnail-row row">
					{% for screenshot in page.header.screenshots %}
						{% set thumbnail = page.media[screenshot.thumbnail] %} 
						{% set caption = screenshot.caption|markdown %}
						{% set full = thumbnail %}
						{% if screenshot.full %}
							{% set full = page.media[screenshot.full] %}
						{% endif %}
						<div class="col-3">
							{{ dump(myimage) }}
							<a href="{{ full.url}}" class="project-thumbnail" data-caption="{{ caption|escape }}">
								<img src="{{ thumbnail.cropZoom(300,300).url }}" class="img-fluid" />
							</a>
						</div>
					{% endfor %}
				</div>
				<div class="project-screenshot-viewport">

				</div>
			
			</div>
		</div>
	
	</section>

	<section id="other-samples" class="blue-bg">

		<div class="container">
			<h3 class="section-title">Other Projects</h3>
			{% set projects = page.find('/projects/project-details').children %}
			{{ siteMacros.projectListGrid(projects, 3) }}
		</div>

	</section>
{% endblock %}
