{% extends 'base/two-column.html.twig' %}

{% block header %}

    <header class="site-header">
        {% include "partials/navigation-default.html.twig" %}

    </header>
{% endblock %}


{% block aboveContent %}
{% endblock %}


{% block leftColumn  %}
	
	<div class="project-title">
		<h2 class="section-title">Project Spotlight - {{ page.header.title }}</h2>
		<p>Tags, tags, tags</p>
	</div>
	<section class="project-intro">
		<h4>End Results</h4>
		
	</section>
	<div class="project-screenshots">
		{{ dump(page.media) }}
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		{% for imageuploaded in page.header.screenshots %}
			{% set myimage = page.media[imageuploaded.image].cropZoom(200,200) %} 
			<div style="text-align: center;">
	
				dump(image)
				{{ dump(myimage) }}
				<img src="{{ myimage.url }}"/>
			</div>
			<div style="display: none;">
				<img src="{{ page.media[imageuploaded.image].url() }}">
			</div>
		{% endfor %}
	
	</div>
	
{% endblock %}

{% block rightColumn  %}
	<h4>Summary</h4>
	{{ page.content }}
	<div class="sidebar-list">
		{{ siteMacros.sidebarListGrid('Client', header.details.client) }}
		{{ siteMacros.sidebarListGrid('Project Date', header.details.date) }}
	</div>

{% endblock %}

{% block belowContent %}

{% endblock %}