{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% import 'macros/macros.html.twig' as siteMacros %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head class="no-js">
{% block head %}
    <meta charset="utf-8" />
    {% set pageTitle = '' %}
    {% if header.seo_title is defined %}
        {% set pageTitle = header.seo_title %}
    {% else %}
        {% if header.title %}
            {% set pageTitle = header.title|e('html') %}
        {% endif %}
    {% endif %}
    <title>{{ pageTitle }} | {{ site.title|e('html') }}</title>

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url() }}?slwsdndfpaollwm=true" />
    


    {% include 'partials/metadata.html.twig' %}



    <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,300,700,100italic,300italic,400" rel="stylesheet" type="text/css">
    
    {% do assets.addCss('theme://css-compiled/jw-bootstrap.css', 150) %}
    {% do assets.addCss('theme://css-compiled/main.css', 10) %}
    {{ assets.css() }}

    {% do assets.addJs('https://code.jquery.com/jquery-3.2.1.min.js', {priority: 1000, group: 'head'}) %}

    {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', {priority: 1000, group: 'bottom'}) %}
    {% do assets.addJs('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', {priority: 1000, group: 'bottom'}) %}


    {% do assets.addJs('theme://js/main.js', {priority: 10, group: 'bottom'}) %}

    {% do assets.addJs('theme://js/modernizr.custom.71422.js', 100) %}


    {% block javascripts %}
    {% endblock %}
    {{ assets.js('head') }}

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }} {% if not page.home %} back-page {% endif %}">
    
    {% block header %} 
        {% include "partials/site-header.html.twig" %}
    {% endblock %}

    {% block main %} 
    {% endblock %}

    {% block footer %} {% endblock %}
   <!--
   <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->
    {{ assets.js('bootstrap') }}
    {{ assets.js('bottom') }}
    {% block bottom %}
    {% endblock %}
</body>
</html>
