
<div class="connections-container">

	<div class="row">
		<div class="label col-xs-6">
			E-mail
		</div>
		<div class="value col-xs-6">
			<a href="#" class="email-link">{emailLink}</a>
		</div>
	</div>

	<div class="row">
		<div class="label col-xs-6">
			Blog (Code Samples, etc.)
		</div>
		<div class="value col-xs-6">
			<a href="http://blog.jeffwilkerson.com/">blog.jeffwilkerson.net</a>
		</div>
	</div>


	<div class="row">
		<div class="label col-xs-6">
			LinkedIn
		</div>
		<div class="value col-xs-6">
			<a href="{{ site.social['linkedin'].url }}" target="_blank">@jeffrwilkerson</a>
		</div>
	</div>

	<div class="row">
		<div class="label col-xs-6">
			Github
		</div>
		<div class="value col-xs-6">
			<a href="{{ site.social['github'].url }}" target="_blank">@stljeff1</a>
		</div>
	</div>

	<div class="row">
		<div class="label col-xs-6">
			Twitter
		</div>
		<div class="value col-xs-6">
			<a href="{{ site.social['twitter'].url }}" target="_blank">@cPalsyYogi</a>
		</div>
	</div>

	<div class="row">
		<div class="label col-xs-6">
			Instagram
		</div>
		<div class="value col-xs-6">
			<a href="{{ site.social['instagram'].url }}" target="_blank">@runningantelope</a>
		</div>
	</div>

</div>
{{ dump(site.social) }}