{% if page.header.title is not null %}
     <h3 class="section-title">{{ page.header.title }}</h3>
 {% endif %}



{% set projects = page.find('/projects/project-details').children %}
{{ dump(projects) }}
<div class="project-list row">
	{% for proj in projects %}
		<div class="project-col col-md-6 col-lg-3">
			
			<a href="{{ proj.url }}" class="project-link box-item light-colored-bg">

				{% set screenshot_el = proj.header.screenshots|first %}
				{% set image = proj.media[screenshot_el.image] %}
				{% set details = proj.header.details %}
				{% if image %}
					<div class="project-image">
						{{ image.cropZoom(200,200).html(proj.header.title, proj.header.title, 'img-fluid') }}
					</div>
				{% endif %}
				<h4 class="project-title">
					{{ proj.title }}
					<strong>HTML, CSS, JS</strong>
				</h4>
				{{ dump(image) }}
			
		</a>
		</div>
	{% endfor %}

</div>