{% if page.header.title is not null %}
     <h3 class="section-title">{{ page.header.title }}</h3>
 {% endif %}
 
{{ content }}

{% set containerID =  page.slug ~ '-accordion-list' %}
<div id="{{ containerID }}">
	{% set i = 1 %}
	<div class="tab-buttons mb-20">
		{% for tab in page.header.tabs %}
			{% set id = tab.tabText|replace({' ': ''}) ~ i %}
			<button data-target="#{{ id }}" class='btn {% if i > 1 %} collapsed }} {% endif %} ' role="button" data-toggle="collapse" aria-expanded="false">{{ tab.tabText }}</button>

			{% set i = i + 1 %}
		{% endfor %}
	</div>
	{% set i = 1 %}
	<div class="tab-content-containers">
		{% for tab in page.header.tabs %}
			<div  
		    	class="tab-content {% if i == 1 %} collapsed show {% else %} collapse {% endif %}" 
		    	id="{{ tab.tabText|replace({' ': ''}) ~ i }}" data-parent="#{{ containerID }}">
		    		<h4 class="red-text">{{ tab.title}}</h4>
				<p class="wk-company h4">{{ tab.subtitle }}</p>
				<p>
					{{ tab.content|markdown }}
				</p>
		    </div>
			{% set i = i + 1 %}
		{% endfor %}
	</div>
</div>